html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
}

picture {
  display: block;
}

img {
  display: block;
  width: 100%;
}

.main-active {
  border: 1px solid red;
}
